OPENAI_API_KEY = "Put your key here"
GEMINI_API_KEY = "create a key at https://aistudio.google.com"
UNSTRUCTURED_API_KEY = "Go to unstructured.io to create a key (I ended up pressing login and then signing in with github because it would not accept my email)"
LLAMAINDEX_API_KEY = "https://developers.llamaindex.ai/python/cloud/general/api_key"
